<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>

    <div class="mt-3">
        <div class="container">

            <div class="col-md-10 ml-auto mr-auto">

                <div class="row d-block">
                    <app-search-component></app-search-component>

                    <div class="mt-3" *ngIf="(noResultsFound$ | async) === true && !(searchResultError$ | async)">
                        <p>No results found</p>
                    </div>

                    <div *ngIf="searchResultError$ | async as error; else allgood">
                        <p>Error: {{ error.msg }}</p>
                    </div> 
                    
                </div>

                <ng-template #allgood>

                    <div class="row d-block">
                        <app-topresult-component></app-topresult-component>
                    </div>
    
                    <div class="row">
                        <app-searchresult-component></app-searchresult-component>
                    </div>
                    
                </ng-template>
                
            </div>

        </div>
    </div>
</div>
