<div class="mt-3">
    <div *ngIf="searchtResult$ | async | topResults: 5 as topresult">

        <div *ngIf="topresult.length > 0">
            <h3>Top Results</h3>

            <carousel class="mt-3">

                <div *ngFor="let item of topresult" class="carousel-cell">
                    <div class="card w-100 h-100" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title truncate">{{ item.title}}</h5>
                            <iframe style="margin-left:auto; margin-right: auto; max-width:70%; max-height: 70%;" [src]="item.embed_url | safe" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>

            </carousel>
        </div>
    </div>
</div>