<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']">Do It Big Take-Home</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse pr-4" id="navbarToggler" #navbarToggler>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item" *ngIf="!isCollection()">
                    <a [routerLink]="['/collection']" *ngIf="!isCollection()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Collection</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="isCollection()" class="nav-link">Back to Home</a>
                </li>
                <li class="nav-item align-items-center" [ngClass]="{'mt-auto mb-auto' : !isMobileNav()}">
                    <app-search-component [isMobileNav]="isMobileNav()"></app-search-component>
                </li>
            </ul>
        </div>
    </div>
</nav>
