<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Search It Big</h1>
            <h3>Search It Anywhere.</h3>
            <br />
            
            <app-search-component></app-search-component>

            <div *ngIf="searchResultError$ | async as error; else allgood">
                <p>Error: {{ error.msg }}</p>
            </div>

            <ng-template #allgood>

                <div class="mt-3" *ngIf="(noResultsFound$ | async) === true && !(searchResultError$ | async)">
                    <p>No results found</p>
                </div>

                <button (click)="showAllClicked($event)" *ngIf="(searchtResult$ | async)?.length > 0" type="button" class="mt-5 btn-round btn btn-danger">Show All</button>

                <app-topresult-component></app-topresult-component>
                
            </ng-template>

        </div>
    </div>
</div>
