<div>
    <h3>Found {{(searchtResult$ | async)?.length}} GIFs</h3>                        

    <div class="mt-4" *ngIf="searchtResult$ | async as result">
        <div *ngIf="result.length > 0">

            <div *ngFor="let item of result" class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    
                    <h5 class="card-title">{{ item.title }}</h5>
                    
                    <iframe style="display: flex; margin-left:auto; margin-right: auto; max-width:70%; max-height: 70%;" [src]="item.embed_url | safe" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    

                    <div class="d-flex justify-content-between align-middle">
                        <div>Rating</div>
                        <h6 class="m-0 card-subtitle mb-2 text-muted">{{ item.rating }}</h6>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>Trading date</div>
                        <h6 class="m-0 card-subtitle mb-2 text-muted">{{ item.trending_datetime }}</h6>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>Username</div>
                        <h6 class="m-0 card-subtitle mb-2 text-muted">{{ item.username }}</h6>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>