
<div class="d-flex justify-content-center w-100">

    <ng-container
        *ngIf="isMobileNav; then mobile; else normal">
    </ng-container>


    <ng-template #normal>
        <div class="flex-grow">
            <input type="text" (input)="searchInputChanged($event)" class="form-control mr-10" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{searchTerm$ | async}}" >
        </div>
        <div>
            <button (click)="searchButtonClick($event)" type="button" class="btn btn-danger ml-10 m-0 w-100 p-10"><i class="fa fa-search"></i></button>
        </div>
    </ng-template>

    <ng-template #mobile>
        <div class="d-flex flex-column" *ngIf=isMobileNav>
            <input type="text" (input)="searchInputChanged($event)" class="form-control mr-10 mb-1" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{searchTerm$ | async}}">
            <button (click)="searchButtonClick($event)" type="button" class="btn btn-danger ml-10 m-0 w-100 p-10"><i class="fa fa-search"></i></button>
        </div>
    </ng-template>

</div>
